@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main id="main" class="main">

    <div class="pagetitle">
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Project Form</h5>

                        <!-- General Form Elements -->
                        <form>
                            <div class="row mb-3">
                                <label for="inputText" class="col-6 col-form-label">Enter Project Id:- </label>
                                <div class="col-6">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-6 col-form-label">Enter Project Name:- </label>
                                <div class="col-6">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-6 col-form-label">Enter Start Date:- </label>
                                <div class="col-6">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-6 col-form-label">Enter End Date:- </label>
                                <div class="col-6">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-6 col-form-label">Enter Budget:- </label>
                                <div class="col-6">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <a href="">
                                        <button style="background-color: dodgerblue">Submit</button>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a asp-controller="Table" asp-action="Project">
                                        <button style="background-color: lightpink">Back</button>
                                    </a>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>
        </div>
    </section>
