@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>General Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">General</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Employee Table</h5>

                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">EmployeeID</th>
                                    <th scope="col">FirstName</th>
                                    <th scope="col">LastName</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone_Number</th>
                                    <th scope="col">HireDate</th>
                                    <th scope="col">JobTitle</th>
                                    <th scope="col">Salary</th>
                                    <th scope="col">DepartmentID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Brandon</td>
                                    <td>Jacob</td>
                                    <td>Jacob@gmail.com</td>
                                    <td>123456789</td>
                                    <td>2016-05-25</td>
                                    <td>It_Manager</td>
                                    <td>50000</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Brandon</td>
                                    <td>Jacob</td>
                                    <td>Jacob@gmail.com</td>
                                    <td>123456789</td>
                                    <td>2016-05-25</td>
                                    <td>It_Manager</td>
                                    <td>50000</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Brandon</td>
                                    <td>Jacob</td>
                                    <td>Jacob@gmail.com</td>
                                    <td>123456789</td>
                                    <td>2016-05-25</td>
                                    <td>It_Manager</td>
                                    <td>50000</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Brandon</td>
                                    <td>Jacob</td>
                                    <td>Jacob@gmail.com</td>
                                    <td>123456789</td>
                                    <td>2016-05-25</td>
                                    <td>It_Manager</td>
                                    <td>50000</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Brandon</td>
                                    <td>Jacob</td>
                                    <td>Jacob@gmail.com</td>
                                    <td>123456789</td>
                                    <td>2016-05-25</td>
                                    <td>It_Manager</td>
                                    <td>50000</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Department Table</h5>

                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">DepartmentID</th>
                                    <th scope="col">DepartmentName</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>It</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>It</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>It</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>It</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>It</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Project Table</h5>

                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ProjectID</th>
                                    <th scope="col">ProjectName</th>
                                    <th scope="col">StartDate</th>
                                    <th scope="col">EndDate</th>
                                    <th scope="col">Budget</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>E-Commerce</td>
                                    <td>2016-05-25</td>
                                    <td>2016-12-25</td>
                                    <td>50000</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>E-Commerce</td>
                                    <td>2016-05-25</td>
                                    <td>2016-12-25</td>
                                    <td>50000</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>E-Commerce</td>
                                    <td>2016-05-25</td>
                                    <td>2016-12-25</td>
                                    <td>50000</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>E-Commerce</td>
                                    <td>2016-05-25</td>
                                    <td>2016-12-25</td>
                                    <td>50000</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>E-Commerce</td>
                                    <td>2016-05-25</td>
                                    <td>2016-12-25</td>
                                    <td>50000</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">EmployeeProject Table</h5>

                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">EmployeeProjectID</th>
                                    <th scope="col">EmployeeId</th>
                                    <th scope="col">ProjectId</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <th scope="row">1</th>
                                    <th scope="row">1</th>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <th scope="row">1</th>
                                    <th scope="row">1</th>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <th scope="row">1</th>
                                    <th scope="row">1</th>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <th scope="row">1</th>
                                    <th scope="row">1</th>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <th scope="row">1</th>
                                    <th scope="row">1</th>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>
            </div>

            
        </div>
    </section>

</main><!-- End #main -->
