@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main id="main" class="main">

    <div class="pagetitle">
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Project Table</h5>

                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ProjectID</th>
                                    <th scope="col">ProjectName</th>
                                    <th scope="col">StartDate</th>
                                    <th scope="col">EndDate</th>
                                    <th scope="col">Budget</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>E-Commerce</td>
                                    <td>2016-05-25</td>
                                    <td>2016-12-25</td>
                                    <td>50000</td>
                                    <td>
                                        <button style="background-color: lightgreen">Update</button>
                                    </td>
                                    <td>
                                        <button style="background-color: red">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>E-Commerce</td>
                                    <td>2016-05-25</td>
                                    <td>2016-12-25</td>
                                    <td>50000</td>
                                    <td>
                                        <button style="background-color: lightgreen">Update</button>
                                    </td>
                                    <td>
                                        <button style="background-color: red">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>E-Commerce</td>
                                    <td>2016-05-25</td>
                                    <td>2016-12-25</td>
                                    <td>50000</td>
                                    <td>
                                        <button style="background-color: lightgreen">Update</button>
                                    </td>
                                    <td>
                                        <button style="background-color: red">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>E-Commerce</td>
                                    <td>2016-05-25</td>
                                    <td>2016-12-25</td>
                                    <td>50000</td>
                                    <td>
                                        <button style="background-color: lightgreen">Update</button>
                                    </td>
                                    <td>
                                        <button style="background-color: red">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>E-Commerce</td>
                                    <td>2016-05-25</td>
                                    <td>2016-12-25</td>
                                    <td>50000</td>
                                    <td>
                                        <button style="background-color: lightgreen">Update</button>
                                    </td>
                                    <td>
                                        <button style="background-color: red">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>
            </div>


        </div>
    </section>


    <a asp-controller="Table" asp-action="AddProject">
        <div style="text-align: center">
            <button style="background-color: yellow; border-radius: 5px">Add</button>
        </div>
    </a>

</main><!-- End #main -->
